@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Temple";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Temple Create</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Temple/TempleList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Temple Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Country Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="Selectcountry">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">State Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectState">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">City Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectCity">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">TempleName &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="TempleName" placeholder="Enter TempleName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">GodName &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="GodName" placeholder="Enter GodName" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Latitude &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="Latitude" placeholder="Enter Latitude" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Longitude &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="Longitude" placeholder="Enter Longitude" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">TempleImage &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="file" class="form-control" id="TempleImage" placeholder="TempleImage" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btncreate" class="btn btn-radius btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        Getstate()
        async function Getstate(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Country/GetCountryList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push(' <option value = ""> Select Country </option> ');
                    for (var i = 0; i < res.data.length; i++) {
                        options.push('<option value = "' + res.data[i].countryId + '" ' + opt + ' > ' + res.data[i].countryName + '</option>');
                    }
                    $("#Selectcountry").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        $("#Selectcountry").change(function () {
            var vcountryid = $("#Selectcountry").val()
            var opt = '';
            $.ajax({
                type: "GET",
                url: '@apiUrl/api/State/GetStateListbyCountryid/' + vcountryid,
                dataType: "json",
                success: function (data) {
                    var options = [];
                    options.push('<option>Select State</option>');
                    for (var i = 0; i < data['data'].length; i++) {
                        options.push('<option value="' + data['data'][i].stateId + '" ' + opt + '>' + data['data'][i].stateName + '</option>');
                    }
                    $("#SelectState").html(options.join(''));

                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        });

        $("#SelectState").change(function () {
            var vstateId = $("#SelectState").val()
            var opt = '';
            $.ajax({
                type: "GET",
                url: '@apiUrl/api/City/GetCityListbystateid/' + vstateId,
                dataType: "json",
                success: function (data) {
                    var options = [];
                    options.push('<option>Select City</option>');
                    for (var i = 0; i < data['data'].length; i++) {
                        options.push('<option value="' + data['data'][i].cityId + '" ' + opt + '>' + data['data'][i].cityName + '</option>');
                    }
                    $("#SelectCity").html(options.join(''));

                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        });



        $("#btncreate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                imgPath = '';
                var totalFiles = document.getElementById('TempleImage').files.length;
                if (totalFiles > 0) {
                    uploadFile();
                }
                var model = {
                    countryId: parseInt($("#Selectcountry").val()),
                    stateId: parseInt($("#SelectState").val()),
                    cityId: parseInt($("#SelectCity").val()),
                    templeName: $.trim($("#TempleName").val()),
                    godName: $.trim($("#GodName").val()),
                    latitude: parseFloat($("#Latitude").val()),
                    longitude: parseFloat($("#Longitude").val()),
                    templeImage: imgPath,
                    createdBy: @Context.Session.GetInt32("UserId"),
                };

                console.log(model);

                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Temple/TempleCreate",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            console.log(data);
                            sweetAlert({
                                html: true,
                                title: "Temple Add",
                                text: "Successfully Created!",
                                type: "success"
                            });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else {
                            sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });


            }
        });

        function uploadFile() {
            var totalFiles = document.getElementById('TempleImage').files.length;
            if (totalFiles > 0) {
                var formData = new FormData();
                var files = document.getElementById('TempleImage').files;
                formData.append("file", files[0]);
                $.ajax(
                    {
                        url: "/Upload/ImgUpload",
                        data: formData,
                        processData: false,
                        contentType: false,
                        async: false,
                        type: "POST",
                        success: function (data) {
                            imgPath = data;

                        },
                        error: function (data) {
                            window.location.replace('/Message/SessionExpire');
                        }
                    }
                );
            }

        }

    </script>

}