@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Booking";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-file-text mr-1"></i>Admin Consol</a></li>
        <li class="breadcrumb-item active" aria-current="page">Booking Create</li>
    </ol>
    <div class="ml-auto">
        <a href="~/Booking/BookingList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>
<!-- PAGE-HEADER END -->
<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Booking Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Bhakta Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectBhakta">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Temple Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectTemple">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">PoojacategoryType Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectPoojacategoryType">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">PoojaCategory Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectPoojaCategory">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">PoojaCategoryItem Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectPoojaCategoryItem">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Pandit Name &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <div class="input-box">
                                    <select class="form-control" id="SelectPandit">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">BookingDate &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="datetime-local" class="form-control" name="example-text-input" tabindex="11" id="BookingDate" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">PoojaPrice &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="PoojaPrice" placeholder="Enter PoojaPrice">
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btncreate" class="btn btn-radius btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section scripts {
    <script>
        Getbhakta()
        async function Getbhakta(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Bhakta/GetBhaktaList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push(' <option value = ""> Select Bhakta </option> ');
                    for (var i = 0; i < res.data.length; i++) {
                        options.push('<option value = "' + res.data[i].bhaktaId + '" ' + opt + ' > ' + res.data[i].bhaktaName + '</option>');
                    }
                    $("#SelectBhakta").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        Gettemple()
        async function Gettemple(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Temple/GetTempleList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push(' <option value = ""> Select Temple </option> ');
                    for (var i = 0; i < res.data.length; i++) {
                        options.push('<option value = "' + res.data[i].templeId + '" ' + opt + ' > ' + res.data[i].templeName + '</option>');
                    }
                    $("#SelectTemple").html(options.join(''));
                },

                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        //Poojacategorytype Name
        $("#SelectTemple").change(function () {
            var vpoojatypeId = $("#SelectTemple").val()
            var opt = '';
            $.ajax({
                type: "GET",
                url: '@apiUrl/api/PoojaCategory/GetPoojaCategoryTypeListbyTempleId/' + vpoojatypeId,
                dataType: "json",
                success: function (data) {
                    var options = [];
                    options.push('<option>Select PoojaCategoryType</option>');
                    for (var i = 0; i < data['data'].length; i++) {
                        //if (Id == res.data[i].stateId) {
                        //    opt = 'selected'
                        //} else {
                        //    opt = '';
                        //}
                        options.push('<option value="' + data['data'][i].poojaCategoryTypeId + '" ' + opt + '>' + data['data'][i].poojaCategoryTypeName + '</option>');
                    }
                    $("#SelectPoojacategoryType").html(options.join(''));

                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        });

        //Poojacategory Name
        $("#SelectPoojacategoryType").change(function () {
            var templeId = $("#SelectTemple").val();
            var poojaCategoryTypeId = $(this).val();

            $.ajax({
                type: "GET",
                url: '@apiUrl/api/PoojaCategory/GetPoojaCategoryListbyTempleAndPoojaCategoryTypeId/' + templeId + '/' + poojaCategoryTypeId,
                dataType: "json",
                success: function (data) {
                    var options = [];
                    options.push('<option>Select PoojaCategoryName</option>');
                    for (var i = 0; i < data['data'].length; i++) {
                        options.push('<option value="' + data['data'][i].poojaCategoryId + '">' + data['data'][i].poojaCategoryName + '</option>');
                    }
                    $("#SelectPoojaCategory").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        });

        //PoojacategoryItem Name
        $("#SelectPoojaCategory").change(function () {
            var vpoojaItemId = $("#SelectPoojaCategory").val()
            var opt = '';
            $.ajax({
                type: "GET",
                url: '@apiUrl/api/PoojaCategoryItem/GetPoojaCategoryItemListByPoojacategoryId/' + vpoojaItemId,
                dataType: "json",
                success: function (data) {
                    var options = [];
                    options.push('<option>Select PoojaCategoryItem</option>');
                    for (var i = 0; i < data['data'].length; i++) {
                        //if (Id == res.data[i].stateId) {
                        //    opt = 'selected'
                        //} else {
                        //    opt = '';
                        //}
                        options.push('<option value="' + data['data'][i].poojaCategoryItemId + '" ' + opt + '>' + data['data'][i].itemName + '</option>');
                    }
                    $("#SelectPoojaCategoryItem").html(options.join(''));

                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        });



        //Pandit
        $("#SelectTemple").change(function () {
            var vtempleId = $("#SelectTemple").val()
            var opt = '';
            $.ajax({
                type: "GET",
                url: '@apiUrl/api/Pandit/GetPanditListbyTempleId/' + vtempleId,
                dataType: "json",
                success: function (data) {
                    var options = [];
                    options.push('<option>Select Pandit</option>');
                    for (var i = 0; i < data['data'].length; i++) {
                        //if (Id == res.data[i].stateId) {
                        //    opt = 'selected'
                        //} else {
                        //    opt = '';
                        //}
                        options.push('<option value="' + data['data'][i].panditId + '" ' + opt + '>' + data['data'][i].panditName + '</option>');
                    }
                    $("#SelectPandit").html(options.join(''));

                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        });


        $(document).ready(function () {
            
            function getPoojaPrice() {
                var poojaCategoryId = $("#SelectPoojaCategory").val();
                $.ajax({
                    type: "GET",
                    url: '@apiUrl/api/PoojaCategory/GetPoojaCategoryPricebyPoojacategoryId/' + poojaCategoryId,
                    dataType: "json",
                    success: function (data) {
                        if (data && data.price) {
                            $("#PoojaPrice").val(data.price);
                        } else {
                            $("#PoojaPrice").val(''); 
                        }
                    },
                    error: function (data) {
                        console.log("Error fetching Pooja price:", data);
                        $("#PoojaPrice").val('');
                    }
                });
            }

            $("#SelectPoojaCategory").change(function () {
                getPoojaPrice();
            });
        });



        $("#btncreate").click(function (e) {
            if (!document.getElementById("formPost").checkValidity()) {
                e.preventDefault();
            } else {
                var model = {
                    bhaktaId: parseInt($("#SelectBhakta").val()),
                    templeId: parseInt($("#SelectTemple").val()),
                    poojaCategoryTypeId: parseInt($("#SelectPoojacategoryType").val()),
                    poojaCategoryId: parseInt($("#SelectPoojaCategory").val()),
                    poojaCategoryItemId: parseInt($("#SelectPoojaCategoryItem").val()),
                    panditId: parseInt($("#SelectPandit").val()),
                    bookingDate: $.trim($("#BookingDate").val()) == '' ? null : $.trim($("#BookingDate").val().replace(/\//g, '-')),
                    poojaPrice: parseInt($("#PoojaPrice").val()),
                    createdBy: @Context.Session.GetInt32("UserId"),
                };
                console.log(model);
                $.ajax({
                    type: "POST",
                    url: "@apiUrl/api/Booking/BookingCreate",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            Swal.fire({
                                icon: "success",
                                title: "Booking Create",
                                text: "Successfully Created!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });

                            //preloader.addClass("d-none");
                        } else if (data.status === "Duplicate") {
                            Swal.fire({
                                icon: "warning",
                                title: "Booking Already Exists!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else if (data.status === "error") {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: data.responseMsg,
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        } else {
                            Swal.fire({
                                icon: "warning",
                                title: "Validation Alert!",
                                text: "Something unexpected!",
                            }).then(function () {
                                location.reload(); // Refresh the page
                            });
                        }
                        preloader.addClass("d-none");
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                });

            }
        });
    </script>

}